!!! Strict
%html{:lang => "en-us", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title DataMapper - #{@item[:title]}
    %link{:href => "/stylesheets/site.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/code.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 7] <link rel="stylesheet" href="/stylesheets/ie_hacks.css" type="text/css" media="screen, projection" />    %link{:href => "/news.rss", :rel => "alternate", :title => "News and Notes feed", :type => "application/rss+xml"}/
    %link{:href => "/favicon.ico", :rel => "Shortcut Icon", :type => "image/x-icon"}/
    :javascript
      //
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11917142-1']);
        _gaq.push(['_trackPageview']);
      //
  %body#home
    #content
      #header
        %h1
          %a{:href => "/"} DataMapper
        %ul
          %li= link_to('Community', '/community/')
          %li= link_to('Documentation', '/docs/')
          %li= link_to('Development', '/development/')
          %li= link_to('Contribute', '/contribute/')
          %li= link_to('Wiki', 'http://wiki.github.com/datamapper/dm-core')
          %li= link_to('Get Started', '/getting-started/', :id => 'getStarted')
      = yield
      #footer
        %p Copyright Dan Kubb, Sam Smoot 2009
        %p
          Web Design by
          %a{:href => "http://www.mr-eel.com/"} Luke Matthew Sutton
          \- Community Maintained
    :javascript
      //
      (function() {
        var ga = document.createElement('script');
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        ga.setAttribute('async', 'true');
        document.documentElement.firstChild.appendChild(ga);
      })();
      //
